html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    --primary-color: #405741;
    --primary-content: #121216;
    --secondary-content: #494961;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    position: relative;
}

button {
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

h1 {
    font-size: 44px;
    line-height: 66px;
    color: var(--primary-content);
}

/* header */

header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px 150px;
    box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
    background-color: #fff;
    z-index: 99;
}

.nav-bar,
.tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    display: flex;
    color: #000;
    opacity: 0.72;
    gap: 16px;
}

.tabs a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.tab {
    padding: 0 16px;
    opacity: 0.72;
    font-weight: 500;
}

.tab span {
    font-weight: 500;
    color: var(--secondary-content);
    font-size: 16px;
    line-height: 24px;
}

.tab img {
    margin-left: 8px;
}

.active {
    opacity: 1;
    color: #000;
}

.nav-bar > * + * {
    margin-left: 20px;
}

.user-icon img {
    margin-left: 20px;
}

/* body */
.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* section 1 - hero-banner*/
.hero-banner {
    margin-top: 90px;
    width: 100%;
    background-image: url(../assets/img/background-image-hero-banner.svg);
    min-height: 560px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-banner .content {
    margin-left: 150px;
    gap: 56px;
    display: flex;
    flex-direction: column;
}
.hero-banner .content-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-text h3 {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-content);
}

.content .show-now_btn {
    width: 220px;
}

.content .show-now_btn img {
    margin-left: 12px;
}

/* section 2 - strength-points */

.strength-points {
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.top-items {
    display: flex;
    gap: 20px;
}

.bottom-items {
    width: 100%;
    display: flex;
    gap: 10px;
}

.bottom-items .content {
    display: flex;
    align-items: center;
    width: 50%;
    border-radius: 16px;
    padding: 20px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.bottom-items .content .title {
    font-size: 44px;
    line-height: 66px;
    font-weight: 600;
}

.bottom-items .content:nth-child(1) {
    background-image: url(../assets/img/background-mouthwash.svg);
    color: #fff;
}

.bottom-items .content:nth-child(1) button {
    background-color: rgba(154, 203, 107, 1);
}

.bottom-items .content:nth-child(2) {
    background-image: url(../assets/img/background-bundle.svg);
}

.bottom-items .content-text {
    width: 55%;
    margin-left: 20px;
    position: relative;
}

.bottom-items .content-text p {
    font-weight: 500;
    line-height: 27px;
    font-size: 16px;
}

.bottom-items .content button {
    margin-top: 36px;
    width: 160px;
}

.mouthwash-bottle {
    max-width: 250px;
    z-index: 2;
}

.hightlight, .bundle-image {
    position: absolute;
    max-width: 550px;
}

.hightlight {
    top: 0;
    right: -10px;
}

.bundle-image {
    bottom: 0;
    right: 0;
}
