html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    --blue-background: #e9f8ef;
    --green-primary-color: #405741;
    --black-primary-content: #121216;
    --grey-content-1: #494961;
    --grey-content-2: #8590a2;
    --grey-content-3: #a8a9b2;
    --blue-content-1: #091e42;
    --blue-content-2: #172b4d;
    --grey-border: #dcdfe4;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    position: relative;
}

.btn {
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    font-weight: 600;
}

.primary-btn {
    background-color: var(--green-primary-color);
    color: #fff;
}

.secondary-btn {
    background-color: transparent;
    color: var(--black-primary-content);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    .supper-title {
        color: var(--blue-content-1);
        font-weight: 600;
    }
    .small-title {
        font-weight: 400;
        color: var(--blue-content-2);
        line-height: 24px;
        font-size: 16px;
    }
}

.product-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-border);
    border-radius: 16px;
    min-height: 424px;
    padding: 16px;
    gap: 16px;

    .product-img {
        max-width: 246.75px;
        max-height: 220px;
    }

    .description {
        line-height: 21px;
        font-size: 14px;
        font-weight: 500;
        color: var(--black-primary-content);
    }

    .price {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .discount-price {
        font-weight: 600;
        line-height: 30px;
        color: #000;
        font-size: 20px;
    }

    .main-price {
        margin-left: 8px;
        color: var(--grey-content-2);
        line-height: 24px;
        font-size: 16px;
    }

    .add-to-cart_btn {
        display: flex;
        width: 100%;
        margin-top: 8px;
    }

    .add-to-cart_icon {
        margin-right: 8px;
    }
}

.box-message {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 24px;
    gap: 40px;
    border-radius: 8px;
    box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);

    .message {
        line-height: 24px;
        font-weight: 400;
        font-size: 16px;
        color: var(--black-primary-content);
    }

    .user {
        display: flex;
        justify-content: space-between;
    }

    .detail-information-user {
        display: flex;
        align-items: center;
        gap: 19px;
    }

    .detail-infomation-text {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .detail-infomation-text .fullname {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .detail-infomation-text .role {
        color: var(--grey-content-3);
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }
}

/* header */

.main-header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px 150px;
    box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
    background-color: #fff;
    z-index: 99;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    display: flex;
    color: #000;
    opacity: 0.72;
    gap: 16px;
}

.tabs .home-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.tab {
    opacity: 0.72;
    font-weight: 500;
    color: var(--grey-content-1);
    font-size: 16px;
    line-height: 24px;
}

.tab-icon {
    margin-left: 8px;
}

.active {
    opacity: 1;
    color: #000;
}

.nav-bar > * + * {
    margin-left: 20px;
}

.user-icon {
    margin-left: 20px;
}

/* body */
.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

/* section 1 - hero-banner*/
.hero-banner {
    margin-top: 90px;
    width: 100%;
    background-image: url(../assets/img/background_image_hero_banner.svg);
    min-height: 560px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-banner .content {
    margin-left: 150px;
    gap: 56px;
    display: flex;
    flex-direction: column;
}
.hero-banner .content-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-text .main-title {
    font-size: 44px;
    line-height: 66px;
    color: var(--black-primary-content);
}

.content-text .main-adv {
    font-size: 20px;
    font-weight: 400;
    color: var(--grey-content-1);
}

.content .show-now_btn {
    width: 220px;
}

.content .show-now_btn img {
    margin-left: 12px;
}

/* section 2 - strength-points */

.strength-points {
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.top-items {
    display: flex;
    gap: 20px;
}

.bottom-items {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.bottom-items .content {
    display: flex;
    align-items: center;
    width: 45%;
    border-radius: 16px;
    padding: 20px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.bottom-items .content .title {
    font-size: 44px;
    line-height: 66px;
    font-weight: 600;
    align-items: unset;
}

.bottom-items .content:nth-child(1) {
    background-image: url(../assets/img/background_mouthwash.svg);
    color: #fff;
}

.bottom-items .content:nth-child(1) button {
    background-color: rgba(154, 203, 107, 1);
}

.bottom-items .content:nth-child(2) {
    background-image: url(../assets/img/background_bundle.svg);
}

.bottom-items .content-text {
    width: 55%;
    margin-left: 20px;
    position: relative;
}

.bottom-items .content-text .adv {
    font-weight: 500;
    line-height: 27px;
    font-size: 16px;
}

.bottom-items .content button {
    margin-top: 36px;
    width: 160px;
}

.mouthwash-bottle {
    position: absolute;
    max-width: 250px;
    z-index: 2;
    right: 4%;
}

.hightlight,
.bundle-image {
    position: absolute;
    max-width: 550px;
}

.hightlight {
    top: 0;
    right: 4%;
}

.bundle-image {
    bottom: 0;
    right: 4%;
}

/* section 3 - trending product */
.trending-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 150px 50px;
}

.list-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin: 60px 0;
    position: relative;
}

.list-products .arrow_back,
.list-products .arrow_forward {
    position: absolute;
    top: 45%;
    cursor: pointer;
}

.list-products .arrow_back {
    left: -5%;
}

.list-products .arrow_forward {
    right: -5%;
}

/* section 4 - promotional-banner */

.promotional-banner {
    background-image: url(../assets/img/background_promotioanal_banner.svg);
    background-size: cover;
    min-height: 444.38px;
    margin: 0 150px 100px;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 24px;
    justify-content: flex-end;
    padding: 0;
}

.content-promotinal-banner {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 32.92px;
    max-width: 52%;
    background-color: var(--blue-background);
    padding: 0 20px;
    border-radius: 0 24px 24px 0;
}

.promotional-banner .content-text {
    display: flex;
    flex-direction: column;
    gap: 13.17px;
    margin-top: 53px;
}

.promotional-banner .content-text .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.promotional-banner .content-text .description {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.promotional-banner .shop-now_btn {
    width: 168px;
}

/* section 5 - testimonials */
.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--blue-background);
    gap: 80px;
    padding: 80px 150px;
    max-height: 633px;
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.slider .content-slider {
    display: flex;
    gap: 16px;
}

.carousel {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.carousel-line {
    width: 40px;
    height: 8px;
    border-radius: 8px;
    opacity: 0.2;
    background-color: #000;
}

.carousel-active {
    opacity: 1;
    background-color: var(--green-primary-color);
}

/* footer */
.main-footer {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    gap: 80px;
    max-height: 448.66px;
}

.other-informations {
    justify-content: space-between;
    display: flex;
    gap: 88px;
    padding: 0 150px;
}

.detail-eco-informations {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 16px;
}

.detail-eco-informations img {
    max-height: 74px;
    max-width: 227px;
}

.detail-eco-informations p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    height: 118px;
}

.social-network-lists {
    display: flex;
    gap: 16px;
    list-style: none;
    padding-left: 0;
}

.social-network-lists li,
.social-network-lists a {
    height: 44px;
    display: block;
}

.facebook-network {
    width: 44px;
    background: url("../assets/icon/facebook_icon.svg") 0 0;
}

.linkin-network {
    width: 44px;
    background: url("../assets/icon/linkedin_icon.svg") 0 0;
}

.instagram-network {
    width: 44px;
    background: url("../assets/icon/instagram_icon.svg") 0 0;
}

.twitter-network {
    width: 44px;
    background: url("../assets/icon/twitter_icon.svg") 0 0;
}

.yotube-network {
    width: 44px;
    background: url("../assets/icon/yotube_icon.svg") 0 0;
}

.quick-link-lists-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.quick-link-lists-wrapper .headline,
.subscribe .headline {
    font-weight: 600;
    line-height: 27px;
    color: var(--blue-content-1);
}

.quick-link-lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding-left: 0;
}

.quick-link {
    padding: 8px;
}

.quick-link a {
    color: var(--blue-content-1);
    text-decoration: none;
}

.subscribe {
    flex: 2;
}

.wrapper-sub {
    display: flex;
    margin-top: 20px;
}

.wrapper-input-sub {
    display: flex;
    border: 1px solid;
    border-radius: 8px 0px 0px 8px;
    padding: 0px 16px;
    gap: 8px;
}

.wrapper-input-sub .email {
    outline: 0;
    border: 0;
}

.subsribe_btn {
    border-radius: 0 8px 8px 0;
}

.supper-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-border);
    padding: 20px 150px;
}

.supper-footer .right-text {
    display: flex;
    gap: 24px;
}

.supper-footer a,
.supper-footer p {
    color: var(--blue-content-1);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.7;
}

.supper-footer a {
    text-decoration: none;
}
