.sub-heading {
  @include flex-layout(column);
  text-align: center;
  gap: 4px;

  &__item {
    color: $blue-content-2;
    @extend %normal-text;
  }

  &__item--big {
    @extend %big-heading;
  }
}