@import './variables.scss';

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;

            a {
                display: block;
                padding: 6px 12px;
                text-decoration: none;
                font-size: $normalSize;
                color: $textColor;
                background-color: $linkBgColor;

                &:hover {
                    background-color: $linkColorHover;
                }
            }
        }
    }
}

@function setWidth($width) {
    @if($width < 10px) {
        @return ($width + 20px); 
    }

    @return $width;
}

.container {
    width: setWidth(300px);
    height: setWidth(500px);
    font-size: setWidth(1px);
    border: 1px solid #ccc;
    margin-top: 20px;
}