@import './variables.scss';

@for $i from 1 through 5 {
    .slider-item-#{$i} {
        background-color: $primaryColor;
        border: 1px solid #999;
        color: #fff;
        padding: 12px 16px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
}

$items: 1, 2, 3, 4, 5;
@each $i in $items {
    .slider-item-#{$i} {
        background-color: $primaryColor;
        border: 1px solid #999;
        color: #fff;
        padding: 12px 16px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
}