<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .nav {
                background-color: yellow;
                list-style-type: none;
                text-align: center;
                padding: 0;
                margin: 0;
            }

            .nav li {
                display: inline-block;
                font-size: 20px;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <ul class="nav">
            <li>Trang chủ</li>
            <li>Giới thiệu</li>
            <li>Dịch vụ</li>
            <li>Liên hệ</li>
        </ul>
    </body>
</html>
