html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.btn {
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.primary-btn {
  background-color: #405741;
  color: #fff;
}

.primary-btn:hover {
  background-color: #9acb6b;
  color: #fff;
}

.secondary-btn {
  background-color: transparent;
  color: #121216;
}

.carousel {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.carousel-line {
  width: 40px;
  height: 8px;
  border-radius: 8px;
  opacity: 0.2;
  background-color: #000;
}

.carousel-active {
  opacity: 1;
  background-color: #405741;
}

.box-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
  height: 250px;
  max-width: 375px;
}
.box-message .message {
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #121216;
}
.box-message .user {
  display: flex;
  justify-content: space-between;
}
.box-message .detail-information-user {
  display: flex;
  align-items: center;
  gap: 19px;
}
.box-message .detail-infomation-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.box-message .detail-infomation-text .fullname {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.box-message .detail-infomation-text .role {
  color: #a8a9b2;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dcdfe4;
  border-radius: 16px;
  min-height: 424px;
  padding: 16px;
  gap: 16px;
}
.product-card .product-img {
  max-width: 246.75px;
  max-height: 220px;
  height: auto;
}
.product-card .description {
  line-height: 1.3125rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #121216;
}
.product-card .price {
  display: flex;
  width: 100%;
  align-items: center;
}
.product-card .discount-price {
  font-weight: 600;
  line-height: 1.875rem;
  color: #000;
  font-size: 1.25rem;
}
.product-card .main-price {
  margin-left: 8px;
  color: #8590a2;
  line-height: 1.5rem;
  font-size: 1rem;
}
.product-card .add-to-cart_btn {
  display: flex;
  width: 100%;
  margin-top: 8px;
}
.product-card .add-to-cart_icon {
  margin-right: 8px;
}

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 16px 150px;
  box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
  background-color: #fff;
  z-index: 99;
}
@media (max-width: 1250px) {
  .main-header {
    padding: 12px 20px;
  }
  .main-header .user-icon-lists {
    display: none;
  }
}

.show-navigation {
  display: none;
}
@media (max-width: 1250px) {
  .show-navigation {
    display: flex;
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  color: #000;
  opacity: 0.72;
  gap: 16px;
}

.tabs .home-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.tab {
  opacity: 0.72;
  font-weight: 500;
  color: #494961;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (max-width: 1250px) {
  .tab {
    display: none;
  }
}

.tab-icon {
  margin-left: 8px;
}

.active {
  opacity: 1;
  color: #000;
}

.nav-bar > * + * {
  margin-left: 20px;
}

.user-icon {
  margin-left: 20px;
}

/* footer */
.main-footer {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  gap: 80px;
  max-height: 448.66px;
}
@media (max-width: 768px) {
  .main-footer {
    gap: 40px;
  }
}

.other-informations {
  justify-content: space-between;
  display: flex;
  gap: 88px;
}
@media (max-width: 1250px) {
  .other-informations {
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .other-informations {
    gap: 44px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.detail-eco-informations {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}
@media (max-width: 768px) {
  .detail-eco-informations {
    align-items: center;
    text-align: center;
  }
}

.detail-eco-informations img {
  max-height: 74px;
  max-width: 227px;
}

.detail-eco-informations p {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  height: 118px;
}
@media (max-width: 640px) {
  .detail-eco-informations p {
    height: unset;
  }
}

.social-network-lists {
  display: flex;
  gap: 16px;
  list-style: none;
  padding-left: 0;
}

.social-network-lists li,
.social-network-lists a {
  height: 44px;
  display: block;
}

.facebook-network {
  width: 44px;
  background: url("../assets/icon/facebook_icon.svg") 0 0;
}

.linkin-network {
  width: 44px;
  background: url("../assets/icon/linkedin_icon.svg") 0 0;
}

.instagram-network {
  width: 44px;
  background: url("../assets/icon/instagram_icon.svg") 0 0;
}

.twitter-network {
  width: 44px;
  background: url("../assets/icon/twitter_icon.svg") 0 0;
}

.yotube-network {
  width: 44px;
  background: url("../assets/icon/yotube_icon.svg") 0 0;
}

.contact-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 88px;
}
@media (max-width: 768px) {
  .contact-wrapper {
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
}

.quick-link-lists-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .quick-link-lists-wrapper {
    text-align: center;
  }
}

.quick-link-lists-wrapper .headline,
.subscribe .headline {
  font-weight: 600;
  line-height: 1.6875rem;
  color: #091e42;
  white-space: nowrap;
}

.quick-link-lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding-left: 0;
}

.quick-link {
  padding: 8px 0;
}

.quick-link a {
  color: #091e42;
  text-decoration: none;
  white-space: nowrap;
}

.subscribe {
  flex: 2;
}
@media (max-width: 768px) {
  .subscribe {
    text-align: center;
  }
}

.wrapper-sub {
  display: flex;
  margin-top: 20px;
}
@media (max-width: 640px) {
  .wrapper-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.wrapper-input-sub {
  display: flex;
  border: 1px solid;
  border-radius: 8px 0px 0px 8px;
  padding: 0px 16px;
  gap: 8px;
}
@media (max-width: 640px) {
  .wrapper-input-sub {
    border-radius: 8px;
    padding: 10px 16px;
  }
}

.wrapper-input-sub .email {
  outline: 0;
  border: 0;
}

.subsribe_btn {
  border-radius: 0 8px 8px 0;
  width: 101px;
}
@media (max-width: 768px) {
  .subsribe_btn {
    width: 120px;
  }
}
@media (max-width: 640px) {
  .subsribe_btn {
    border-radius: 8px;
  }
}

.supper-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dcdfe4;
  padding: 20px 150px;
}
@media (max-width: 1250px) {
  .supper-footer {
    padding: 20px;
  }
}
@media (max-width: 640px) {
  .supper-footer {
    flex-direction: column-reverse;
    gap: 24px;
  }
}

.supper-footer .right-text {
  display: flex;
  gap: 24px;
}
@media (max-width: 640px) {
  .supper-footer .right-text {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.supper-footer a,
.supper-footer p {
  color: #091e42;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  opacity: 0.7;
}

.supper-footer a {
  text-decoration: none;
}

/* body */
.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

/* section 1 - hero-banner*/
.hero-banner {
  margin-top: 90px;
  width: 100%;
  min-height: 560px;
  background-image: url(../assets/img/background_image_hero_banner.svg);
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: right;
}

.hero-banner .content {
  margin-left: 150px;
  gap: 56px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-banner .content-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-text .main-title {
  font-size: 2.75rem;
  line-height: 4.125rem;
  font-weight: 600;
  color: #121216;
}

.content-text .main-adv {
  font-size: 1.25rem;
  font-weight: 400;
  color: #494961;
}

.content .show-now_btn {
  width: 220px;
}

.content .show-now_btn img {
  margin-left: 12px;
}

/* section 2 - strength-points */
.strength-points {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.top-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
}

.strength-point-img {
  width: 100%;
  height: auto;
  max-width: 278px;
}

.bottom-items {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.bottom-items .content {
  display: flex;
  align-items: center;
  width: 50%;
  border-radius: 16px;
  padding: 20px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.bottom-items .content .title {
  font-size: 2.75rem;
  line-height: 4.125rem;
  font-weight: 600;
  align-items: unset;
}

.bottom-items .content:nth-child(1) {
  background-image: url(../assets/img/background_mouthwash.svg);
  color: #fff;
}

.bottom-items .content:nth-child(1) button {
  background-color: #9acb6b;
}

.bottom-items .content:nth-child(1) button:hover {
  background-color: #405741;
  color: #fff;
}

.bottom-items .content:nth-child(2) {
  background-image: url(../assets/img/background_bundle.svg);
}

.bottom-items .content-text {
  width: 55%;
  margin-left: 16px;
  position: relative;
  z-index: 3;
}

.bottom-items .content-text .adv {
  font-weight: 500;
  line-height: 1.6875rem;
  font-size: 1rem;
}

.bottom-items .content button {
  margin-top: 36px;
  width: 160px;
}

.mouthwash-bottle {
  position: absolute;
  max-width: 250px;
  z-index: 2;
  right: 4%;
}

.hightlight,
.bundle-image {
  position: absolute;
  max-width: 550px;
}

.hightlight {
  top: 0;
  right: 4%;
}

.bundle-image {
  bottom: 0;
  right: 4%;
}

/* section 3 - trending product */
.trending-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0 50px;
}

.display-list-products {
  width: 100%;
  gap: 4px;
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

.list-products {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.product-card {
  width: 25%;
}

/* section 4 - promotional-banner */
.promotional-banner {
  background-image: url(../assets/img/background_promotioanal_banner.svg);
  background-size: cover;
  min-height: 444.38px;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 24px;
  justify-content: flex-end;
  padding: 0;
}

.content-promotinal-banner {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 32.92px;
  max-width: 52%;
  background-color: #e9f8ef;
  padding: 20px;
  border-radius: 0 24px 24px 0;
}

.promotional-banner .content-text {
  display: flex;
  flex-direction: column;
  gap: 13.17px;
  margin-top: 53px;
}

.promotional-banner .content-text .title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.375rem;
}

.promotional-banner .content-text .description {
  color: #000;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

.promotional-banner .shop-now_btn {
  width: 180px;
}

/* section 5 - testimonials */
.testimonials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  background-color: #e9f8ef;
  gap: 80px;
  padding: 80px 150px;
  margin-top: 100px;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.slider .content-slider {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 20px 0;
}

.box-message {
  flex: 0 0 33%;
}

/*# sourceMappingURL=mainStyles.css.map */
