.strength-points__bottom-items .content__content-text .title, .hero-banner__content .content-text__heading, .sub-heading__supper-title {
  font-size: 2.75rem;
  line-height: 4.125rem;
  font-weight: 600;
  color: #091e42;
}

.header__navbar__tabs .tab-item__content, .sub-heading__small-title, .box-message__user .detail-info__text .fullname {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.footer__other-info .detail-info__adv, .product-card__price .main-price, .box-message__message {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.product-card__description {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 500;
}

.footer__supper-footer .left-text, .footer__supper-footer .right-text__policy .content-text, .box-message__user .detail-info__text .role {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 1200px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 20px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.sp-btn, .secondary-btn, .primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.primary-btn {
  background-color: #405741;
  color: #fff;
}

.primary-btn:hover {
  background-color: #9acb6b;
  color: #fff;
}

.secondary-btn {
  background-color: transparent;
  color: #121216;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.carousel__line {
  width: 40px;
  height: 8px;
  border-radius: 8px;
  opacity: 0.2;
  background-color: #000;
}
.carousel__line--active {
  opacity: 1;
  background-color: #405741;
}

.box-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
  height: 250px;
  max-width: 375px;
  flex: 0 0 33%;
}
@media (max-width: 1200px) {
  .box-message {
    flex: 0 0 50%;
  }
}
@media (max-width: 768px) {
  .box-message {
    flex: 0 0 100%;
    height: unset;
  }
}
.box-message__message {
  color: #121216;
}
.box-message__user {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box-message__user .detail-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.box-message__user .detail-info__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.box-message__user .detail-info__text .fullname {
  color: #121216;
}
.box-message__user .detail-info__text .role {
  color: #a8a9b2;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dcdfe4;
  border-radius: 16px;
  min-height: 424px;
  padding: 16px;
  gap: 16px;
  width: 25%;
}
@media (max-width: 1200px) {
  .product-card {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }
}
.product-card__img {
  max-width: 246.75px;
  height: auto;
}
.product-card__description {
  color: #121216;
}
.product-card__price {
  display: flex;
  width: 100%;
  align-items: center;
}
.product-card__price .discount-price {
  font-weight: 600;
  line-height: 1.875rem;
  color: #000;
  font-size: 1.25rem;
}
.product-card__price .main-price {
  margin-left: 8px;
  color: #8590a2;
}
.product-card__add-to-cart-btn {
  display: flex;
  width: 100%;
  margin-top: 8px;
}
.product-card__add-to-cart-btn .add-to-cart__icon {
  margin-right: 8px;
}

.sub-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 4px;
}
.sub-heading__small-title {
  color: #172b4d;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 16px 150px;
  box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
  background-color: #fff;
  z-index: 99;
}
@media (max-width: 1200px) {
  .header {
    padding: 12px 20px;
  }
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__navbar__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  opacity: 0.72;
  gap: 16px;
  list-style: none;
}
.header__navbar__tabs .tab-item {
  padding: 8px 12px;
}
@media (max-width: 1200px) {
  .header__navbar__tabs .tab-item {
    display: none;
  }
}
.header__navbar__tabs .tab-item__content {
  text-decoration: none;
  color: #494961;
}
.header__navbar__tabs .tab-item__content .icon {
  margin-left: 8px;
}
.header__navbar__tabs .tab-item__content--active {
  opacity: 1;
  color: #405741;
}
.header__navbar__user-icons .user-icon {
  margin-left: 20px;
}
.header__navbar__show-nav {
  display: none;
}
.header__navbar__show-nav .icon {
  font-size: 1.25rem;
}
@media (max-width: 1200px) {
  .header__navbar__show-nav {
    margin-left: 20px;
    display: flex;
  }
}

.footer {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 150px 0 0 0;
  gap: 80px;
  max-height: 448.66px;
}
@media (max-width: 768px) {
  .footer {
    gap: 40px;
  }
}
.footer__other-info {
  justify-content: space-between;
  display: flex;
  gap: 88px;
}
@media (max-width: 1200px) {
  .footer__other-info {
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .footer__other-info {
    gap: 44px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.footer__other-info .detail-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}
@media (max-width: 768px) {
  .footer__other-info .detail-info {
    align-items: center;
    text-align: center;
  }
}
.footer__other-info .detail-info__logo {
  max-height: 74px;
  max-width: 227px;
}
.footer__other-info .detail-info__adv {
  height: 118px;
  color: #091e42;
}
@media (max-width: 640px) {
  .footer__other-info .detail-info__adv {
    height: unset;
  }
}
.footer__other-info .detail-info__social-network-lists {
  display: flex;
  gap: 16px;
  list-style: none;
  padding-left: 0;
}
.footer__other-info .detail-info__social-network-lists li,
.footer__other-info .detail-info__social-network-lists a {
  height: 44px;
  display: block;
}
.footer__other-info .detail-info__social-network-lists .facebook-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/facebook_icon.svg") 0 0;
}
.footer__other-info .detail-info__social-network-lists .linkin-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/linkedin_icon.svg") 0 0;
}
.footer__other-info .detail-info__social-network-lists .instagram-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/instagram_icon.svg") 0 0;
}
.footer__other-info .detail-info__social-network-lists .twitter-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/twitter_icon.svg") 0 0;
}
.footer__other-info .detail-info__social-network-lists .yotube-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/yotube_icon.svg") 0 0;
}
.footer__other-info .contact-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 88px;
}
@media (max-width: 768px) {
  .footer__other-info .contact-info {
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
}
.footer__other-info .contact-info__quick-link-lists-wrapper .headline, .footer__other-info .contact-info__interact-email .headline {
  font-weight: 600;
  line-height: 1.6875rem;
  font-size: 1.125rem;
  color: #091e42;
}
.footer__other-info .contact-info__quick-link-lists-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .footer__other-info .contact-info__quick-link-lists-wrapper {
    text-align: center;
  }
}
.footer__other-info .contact-info__quick-link-lists-wrapper .headline {
  white-space: nowrap;
}
.footer__other-info .contact-info__quick-link-lists-wrapper .quick-link-lists {
  gap: 8px;
  list-style: none;
  padding-left: 0;
}
.footer__other-info .contact-info__quick-link-lists-wrapper .quick-link {
  padding: 8px 0;
}
.footer__other-info .contact-info__quick-link-lists-wrapper .quick-link a {
  color: #091e42;
  text-decoration: none;
  white-space: nowrap;
}
.footer__other-info .contact-info__interact-email {
  flex: 2;
}
@media (max-width: 768px) {
  .footer__other-info .contact-info__interact-email {
    text-align: center;
  }
}
.footer__other-info .contact-info__interact-email .subscribe {
  display: flex;
  margin-top: 20px;
}
@media (max-width: 640px) {
  .footer__other-info .contact-info__interact-email .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}
.footer__other-info .contact-info__interact-email .subscribe__input {
  display: flex;
  border: 1px solid;
  border-radius: 8px 0px 0px 8px;
  padding: 0px 16px;
  gap: 8px;
}
@media (max-width: 640px) {
  .footer__other-info .contact-info__interact-email .subscribe__input {
    border-radius: 8px;
    padding: 10px 16px;
  }
}
.footer__other-info .contact-info__interact-email .subscribe__input .email {
  outline: 0;
  border: 0;
}
.footer__other-info .contact-info__interact-email .subscribe__btn {
  border-radius: 0 8px 8px 0;
  width: 101px;
}
@media (max-width: 768px) {
  .footer__other-info .contact-info__interact-email .subscribe__btn {
    width: 120px;
  }
}
@media (max-width: 640px) {
  .footer__other-info .contact-info__interact-email .subscribe__btn {
    border-radius: 8px;
  }
}
.footer__supper-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dcdfe4;
  padding: 20px 150px;
  opacity: 0.7;
}
@media (max-width: 1200px) {
  .footer__supper-footer {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .footer__supper-footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .footer__supper-footer {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
.footer__supper-footer .left-text, .footer__supper-footer .right-text__policy .content-text {
  color: #091e42;
  white-space: nowrap;
}
.footer__supper-footer .right-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  gap: 24px;
  list-style: none;
}
@media (max-width: 640px) {
  .footer__supper-footer .right-text {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.footer__supper-footer .right-text__policy .content-text {
  text-decoration: none;
}

/* body */
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

/* section 1 - hero-banner*/
.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
  min-height: 560px;
  background-image: url(../assets/img/background_image_hero_banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-banner__content {
  margin-left: 150px;
  gap: 56px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 990px) {
  .hero-banner__content {
    margin-left: 20px;
  }
}
.hero-banner__content .content-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hero-banner__content .content-text__heading {
  color: #121216;
}
.hero-banner__content .content-text__adv {
  font-size: 1.25rem;
  font-weight: 400;
  color: #494961;
}
.hero-banner__content .show-now-btn {
  width: 220px;
}
.hero-banner__content .show-now-btn img {
  margin-left: 12px;
}

/* section 2 - strength-points */
.strength-points {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}
.strength-points__top-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1200px) {
  .strength-points__top-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.strength-points__top-items .strength-point-img {
  width: 100%;
  height: auto;
  max-width: 278px;
}
.strength-points__bottom-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 990px) {
  .strength-points__bottom-items {
    flex-direction: column;
  }
}
.strength-points__bottom-items .content {
  display: flex;
  align-items: center;
  width: 50%;
  border-radius: 16px;
  padding: 20px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1400px) {
  .strength-points__bottom-items .content {
    width: 45%;
  }
}
@media (max-width: 990px) {
  .strength-points__bottom-items .content {
    width: 82%;
  }
}
@media (max-width: 768px) {
  .strength-points__bottom-items .content {
    width: 100%;
  }
}
.strength-points__bottom-items .content__content-text {
  width: 55%;
  margin-left: 16px;
  position: relative;
  z-index: 3;
}
@media (max-width: 1200px) {
  .strength-points__bottom-items .content__content-text {
    width: 100%;
  }
}
.strength-points__bottom-items .content__content-text .adv {
  font-weight: 500;
  line-height: 1.6875rem;
  font-size: 1rem;
}
.strength-points__bottom-items .content__content-text .buy-btn {
  margin-top: 36px;
  width: 160px;
}
.strength-points__bottom-items .content__mouthwash-bottle-img {
  position: absolute;
  max-width: 250px;
  height: auto;
  z-index: 2;
  right: 4%;
}
.strength-points__bottom-items .content__hightlight-img {
  top: 0;
  right: 4%;
}
.strength-points__bottom-items .content__bundle-img {
  bottom: 0;
  right: 4%;
}
.strength-points__bottom-items .content__hightlight-img, .strength-points__bottom-items .content__bundle-img {
  position: absolute;
  max-width: 550px;
  height: auto;
}
.strength-points__bottom-items .content:nth-child(1) {
  background-image: url(../assets/img/background_mouthwash.svg);
  color: #fff;
}
.strength-points__bottom-items .content:nth-child(1) .content__content-text .title {
  color: #fff;
}
.strength-points__bottom-items .content:nth-child(1) .content__content-text .buy-btn {
  background-color: #9acb6b;
}
.strength-points__bottom-items .content:nth-child(1) .content__content-text .buy-btn:hover {
  background-color: #405741;
  color: #fff;
}
.strength-points__bottom-items .content:nth-child(2) {
  background-image: url(../assets/img/background_bundle.svg);
}

/* section 3 - trending product */
.trending-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0 50px;
}
.trending-products__display-products {
  width: 100%;
  gap: 4px;
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trending-products__display-products .list-products {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

/* section 4 - promotional-banner */
.promotional-banner {
  background-image: url(../assets/img/background_promotioanal_banner.svg);
  background-size: cover;
  min-height: 444.38px;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 24px;
  justify-content: flex-end;
  padding: 0;
}
@media (max-width: 990px) {
  .promotional-banner {
    background-position: 20% 0;
  }
}
@media (max-width: 768px) {
  .promotional-banner {
    position: relative;
    background-position: unset;
    background-size: 206%;
  }
}
.promotional-banner__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 32.92px;
  max-width: 52%;
  background-color: #e9f8ef;
  padding: 20px;
  border-radius: 0 24px 24px 0;
}
@media (max-width: 768px) {
  .promotional-banner__content {
    position: absolute;
    max-width: 100%;
    bottom: -80%;
    border-radius: unset;
    text-align: center;
    align-items: center;
  }
}
.promotional-banner__content .content-text {
  display: flex;
  flex-direction: column;
  gap: 13.17px;
  margin-top: 53px;
}
@media (max-width: 1200px) {
  .promotional-banner__content .content-text {
    margin-top: 0;
  }
}
.promotional-banner__content .content-text__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.375rem;
  color: #000;
}
.promotional-banner__content .content-text__description {
  color: #000;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.promotional-banner__content .shop-now-btn {
  width: 180px;
}

/* section 5 - testimonials */
.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  background-color: #e9f8ef;
  gap: 80px;
  padding: 80px 20px;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .testimonials {
    margin-top: 500px;
    align-items: unset;
  }
}
.testimonials__slider {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.testimonials__slider .content {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 20px 0;
  overflow: hidden;
}

/*# sourceMappingURL=mainStyles.css.map */
