.product {
  @include flex-layout(column);
  position: relative;
  gap: 16px;
  border: $dark-thin-border;
  border-radius: 8px;
  width: 220px;
  background-color: $dark-bg-2;
  caret-color: transparent;

  &:hover & {
    &__icon {
      display: block;
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 1;
    display: none;
  }

  &__img {
    margin-top: 20px;
    width: 127px;
    aspect-ratio: 1;
  }

  &__description {
    @include flex-layout(column);
    gap: 8px;
    margin: 0 40px;

    .item {
      @extend %normal-medium-text;
      text-align: center;
      margin: 0;

      &--thin {
        @include flex-layout;
        @extend %normal-thin-text;
        gap: 6px;
      }
    }
  }

  &__btn {
    @include flex-layout;
    @extend %normal-semiBold-txtBtn;
    gap: 8px;
    border: 0;
    border-radius: 0 0 8px 8px;
    width: 100%;
    padding: 16px 0;
    color: $orange-color-1;
    background-color: rgba(234, 124, 105, 0.24);
    caret-color: transparent;
  }

  &--dashed {
    border: 1px dashed $orange-color-1;
    cursor: pointer;

    .icon {
      &--padded {
        padding: 14px;
      }
    }

    .highlight {
      @extend %large-semiBold-text;
      color: $orange-color-1;
    }
  }
}