.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $dark-border-1;
  width: 100%;
  padding: 0 78px 20px 42px;
}

.title {
  @extend %heading-text;
}

.filter {
  @include flex-layout(column, center, end);
  gap: 38px;
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid $dark-border-1;
  border-radius: 8px;
  width: 342px;
  height: 48px;
  padding: 14px;
  background-color: $dark-form-bg-1;

  &__text-field {
    margin-left: 12px;
  }
}

.wrapper-option {}