.header {
  display: flex;
  justify-content: space-between;
  border-bottom: $dark-thin-border;
  width: 100%;
  padding: 0 78px 20px 42px;
}

.title {
  @extend %heading-text;
  caret-color: transparent;
}

.filter {
  @include flex-layout(column, center, end);
  gap: 38px;
}

.search-form {
  display: flex;
  align-items: center;
  border: $dark-thin-border;
  border-radius: 8px;
  width: 342px;
  height: 48px;
  padding: 14px;
  background-color: $dark-form-bg-1;

  &__text-field {
    margin-left: 12px;
  }
}

.wrapper-option {}