.btn {
  @include flex-layout;
  @extend %normal-semiBold-txtBtn;
  border-radius: 8px;
  width: 180px;
  padding: 14px;
  text-align: center;

  @include respond-to("small") {
    padding: 8px;
  }

  &--line {
    border: 1px solid $orange-color-1;
    color: $orange-color-1;

    &:hover {
      background-color: $orange-color-1;
      color: $white-text-1;
      box-shadow: $shadow-hover-btn;
    }
  }

  &--fill {
    background-color: $orange-color-1;
    color: $white-text-2;

    &:hover {
      box-shadow: $shadow-hover-btn;
      color: $white-text-1;
    }
  }
}