.wrapper-options {
  border: $dark-thin-border;
  border-radius: 8px;
  width: 162px;
  height: 49px;
}

.btn-toggle {
  @include flex-layout(row, start, center);
  @extend %normal-medium-text;
  gap: 10px;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 14px;
  background-color: $dark-bg-2;
  caret-color: transparent;
}

.option {
  display: none;

  &__item {}
}