.form {
  @include flex-layout(column, center, flex-start);
  box-shadow: $shadow-hover-btn;
  border-radius: 16px 16px 0 16px;
  width: 544px;
  padding: 40px 50px;
  background-color: $dark-bg-2;

  &__title {
    @extend %heading-h1-text;
    width: 100%;
    border-bottom: $dark-thin-border;
    padding-bottom: 24px;
  }

  &__label {
    @extend %normal-medium-text;
    margin: 16px 0 8px;

    &:nth-of-type(1) {
      margin-top: 30px;
    }
  }

  &__action {
    @include flex-layout(row, space-between);
    width: 100%;
    margin-top: 70px;

    @include respond-to("small") {
      flex-direction: column;
      gap: 20px;
    }
  }
}