.message {
  @include flex-layout;
  position: fixed;
  top: 20px;
  left: 50%;
  display: none;
  gap: 8px;
  z-index: 3;
  transform: translateX(-50%);
  animation: fadeInOut 3s ease-in-out forwards;
  border-radius: 8px;
  padding: 12px;
  padding-right: 40;
  background-color: $green-bg-1;

  &--error {
    background-color: $orange-color-1
  }

  &__content {
    @extend %normal-semiBold-text;
  }
}