.text-field {
  @extend %normal-thin-text;
  outline: none;
  border: $dark-thin-border;
  border-radius: 8px;
  width: 100%;
  padding: 14px;
  background-color: $dark-form-bg-1;

  &--short {
    width: 50%;
  }
}