.message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  animation: fadeInOut 3s ease-in-out forwards;
  border-radius: 8px;
  padding: 12px;
  padding-right: 40px;
  color: var(--white-text-1);
}

.message--success {
  background-color: var(--green-bg-1);
}

.message--error {
  background-color: var(--orange-color-1);
}
