@import './variables.scss';

@for $i from 1 through 5 {
    .slider-item-#{$i} {
        background-color: $primaryColor;
        border: 1px solid #999;
        color: #fff;
        padding: 12px 16px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
}

$colors: (
    1: #ff0000,
    2: #00ff00,
    3: #0000ff,
    4: #ffff00,
    5: #ff00ff 
);

@each $i, $color in $colors {
    .slider-item-#{$i} {
        background-color: #{$color};
        border: 1px solid #999;
        color: #fff;
        padding: 12px 16px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
}