::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background-color: $dark-bg-1;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-bg-2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

::-webkit-scrollbar-track {
  background-color: #828282;
  border-radius: 10px;
}