$blue-background: #e9f8ef;
$green-primary-color: #405741;
$green-secondary-color: #9acb6b;
$black-primary-content: #121216;
$grey-content-1: #494961;
$grey-content-2: #8590a2;
$grey-content-3: #a8a9b2;
$blue-content-1: #091e42;
$blue-content-2: #172b4d;
$grey-border: #dcdfe4;
$normal-size: 1rem;
$small-size: .875rem;