.wrapper-page {
  background-color: $dark-bg-1;
  padding: 20px 18px;
}

.content-page {
  position: relative;
  border-radius: 8px;
  height: 100%;
  padding: 75px 0 26px;
  background-color: $dark-bg-2;
}

.body {
  margin: 26px 0 0;
  padding: 0 40px;
  border-bottom: $dark-thin-border;
  padding-bottom: 94px;

  .wrapper-products {
    @include flex-layout(row, flex-start, stretch);
    margin-left: 36px;
    flex-wrap: wrap;
    gap: 16px;

    @include respond-to("extra-large") {
      justify-content: center;
      margin-left: unset;
    }
  }

  .wrapper-btn {
    @include flex-layout;
    margin-top: 40px;
  }
}

.wrapper-modal {
  @include flex-layout;
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgba(31, 29, 43, .7);
}

.show {
  display: flex;
}