
.btn {
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: $normalSize;
}

.primary-btn {
    background-color: $green-primary-color;
    color: #fff;
}

.primary-btn:hover {
    background-color: $green-secondary-color;
    color: #fff;
}

.secondary-btn {
    background-color: transparent;
    color: $black-primary-content;
}