.product-card {
  @include flex-layout(column);
  border: 1px solid $grey-border;
  border-radius: 16px;
  min-height: 424px;
  max-width: 278.75px;
  width: 25%;
  padding: 16px;
  gap: 16px;

  @include respond-to("huge") {
    max-width: 300px;
    width: 33%;
  }

  @include respond-to("large") {
    max-width: 400px;
    width: 50%;
  }

  @include respond-to("medium") {
    max-width: 500px;
    width: 100%;
  }

  &__img {
    max-width: 246.75px;
    height: auto;
  }

  &__description {
    @extend %small-text;
    color: $black-primary-content;
  }

  &__price {
    display: flex;
    width: 100%;
    align-items: center;

    .discount-price {
      font-weight: 600;
      line-height: 1.875rem;
      color: #000;
      font-size: 1.25rem;
    }

    .main-price {
      margin-left: 8px;
      color: $grey-content-2;
      @extend %blur-normal-text;
    }
  }



  &__add-to-cart-btn {
    display: flex;
    width: 100%;
    margin-top: 8px;

    .add-to-cart__icon {
      margin-right: 8px;
    }
  }

}