.product-card {
  @include flex-layout(column);
  border: 1px solid $grey-border;
  border-radius: 16px;
  min-height: 424px;
  max-width: 278.75px;
  padding: 16px;
  gap: 16px;
  width: calc(25% - 15px);
  flex-shrink: 0;

  @include respond-to("huge") {
    max-width: 340px;
    width: calc(50% - 10px);
  }

  @include respond-to("medium") {
    width: 100%;
  }

  &__img {
    max-width: 246.75px;

    @include respond-to("huge") {
      max-width: 300px;
    }

    height: auto;

    @include respond-to("huge") {
      width: 100%;
    }
  }

  &__description {
    @extend %small-text;
    color: $black-primary-content;
  }

  &__price {
    display: flex;
    width: 100%;
    align-items: center;

    .discount-price {
      font-weight: 600;
      line-height: 1.88rem;
      color: #000;
      font-size: 1.25rem;
    }

    .main-price {
      margin-left: 8px;
      color: $grey-content-2;
      @extend %blur-normal-text;
    }
  }

  &__btn {
    display: flex;
    width: 100%;
    margin-top: 8px;

    .icon {
      margin-right: 8px;
    }
  }

}