.sub-heading {
    @include flex-layout(column);
    text-align: center;
    gap: 4px;

    &__supper-title {
        @extend %big-heading;
    }

    &__small-title {
        color: $blue-content-2;
        @extend %normal-text;
    }
}