.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;

    .supper-title {
        color: $blue-content-1;
        font-weight: 600;
        font-size: 2.75rem;
    }

    .small-title {
        font-weight: 400;
        color: $blue-content-2;
        line-height: 1.5rem;
        font-size: 1rem;
        text-align: center;
    }
}