.header .navbar__tabs .tab__content, .sub-heading__item, .box-message__user .detail-info__text .fullname {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.footer__other-info .detail-info__adv, .product-card__price .main-price, .box-message__message {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.product-card__description {
  font-size: 0.88rem;
  line-height: 1.3125rem;
  font-weight: 500;
}

.footer__supper-footer .left-text, .footer__supper-footer .right-text .policy .content-text, .box-message__user .detail-info__text .role {
  font-size: 0.88rem;
  line-height: 1.3125rem;
  font-weight: 400;
}

.strength-points__bottom-items .content .content-text__title, .hero-banner__content .content-text__heading, .sub-heading__item--big {
  font-size: 2.75rem;
  line-height: 4.125rem;
  font-weight: 600;
  color: #091e42;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 1400px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 20px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.sp-btn, .secondary-btn, .primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.primary-btn {
  background-color: #405741;
  color: #fff;
}

.primary-btn:hover {
  background-color: #9acb6b;
  color: #fff;
}

.secondary-btn {
  background-color: transparent;
  color: #121216;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.carousel__line {
  width: 40px;
  height: 8px;
  border-radius: 8px;
  opacity: 0.2;
  background-color: #000;
}
.carousel__line--active {
  opacity: 1;
  background-color: #405741;
}

.box-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
  height: 250px;
  width: 384.33px;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .box-message {
    width: 400px;
  }
}
@media (max-width: 992px) {
  .box-message {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .box-message {
    height: 300px;
  }
}
.box-message__message {
  color: #121216;
}
.box-message__user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-message__user .detail-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.box-message__user .detail-info__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.box-message__user .detail-info__text .fullname {
  color: #121216;
}
.box-message__user .detail-info__text .role {
  color: #a8a9b2;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dcdfe4;
  border-radius: 16px;
  min-height: 424px;
  width: 278.75px;
  padding: 16px;
  gap: 16px;
  flex-shrink: 0;
}
@media (max-width: 1400px) {
  .product-card {
    width: 340px;
  }
}
@media (max-width: 992px) {
  .product-card {
    width: 100%;
  }
}
.product-card__img {
  max-width: 246.75px;
  height: auto;
}
@media (max-width: 1400px) {
  .product-card__img {
    max-width: 300px;
  }
}
@media (max-width: 1400px) {
  .product-card__img {
    width: 100%;
  }
}
.product-card__description {
  color: #121216;
}
.product-card__price {
  display: flex;
  width: 100%;
  align-items: center;
}
.product-card__price .discount-price {
  font-weight: 600;
  line-height: 1.88rem;
  color: #000;
  font-size: 1.25rem;
}
.product-card__price .main-price {
  margin-left: 8px;
  color: #8590a2;
}
.product-card__btn {
  display: flex;
  width: 100%;
  margin-top: 8px;
}
.product-card__btn .icon {
  margin-right: 8px;
}

.sub-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 4px;
}
.sub-heading__item {
  color: #172b4d;
}
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 16px 150px;
  box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
  background-color: #fff;
  z-index: 99;
}
@media (max-width: 1400px) {
  .header {
    padding: 12px 20px;
  }
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navbar__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  opacity: 0.72;
  gap: 16px;
  list-style: none;
}
.header .navbar__tabs .tab {
  padding: 8px 12px;
}
@media (max-width: 1400px) {
  .header .navbar__tabs .tab {
    display: none;
  }
}
.header .navbar__tabs .tab__content {
  text-decoration: none;
  color: #494961;
}
.header .navbar__tabs .tab__content .icon {
  margin-left: 8px;
}
.header .navbar__tabs .tab__content--active {
  opacity: 1;
  color: #405741;
}
@media (max-width: 768px) {
  .header .navbar__icons {
    display: none;
  }
}
.header .navbar__icons .user-icon,
.header .navbar__icons .shopping-icon {
  margin-left: 20px;
}
.header .navbar__toggler {
  display: none;
}
.header .navbar__toggler .icon {
  font-size: 1.25rem;
}
@media (max-width: 1400px) {
  .header .navbar__toggler {
    margin-left: 20px;
    display: flex;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 150px 0 0 0;
  gap: 80px;
  max-height: 448.66px;
}
@media (max-width: 768px) {
  .footer {
    gap: 40px;
  }
}
.footer__other-info {
  justify-content: space-between;
  display: flex;
  gap: 88px;
}
@media (max-width: 1400px) {
  .footer__other-info {
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .footer__other-info {
    gap: 44px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.footer__other-info .detail-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}
@media (max-width: 768px) {
  .footer__other-info .detail-info {
    align-items: center;
    text-align: center;
  }
}
.footer__other-info .detail-info__logo {
  max-height: 74px;
  max-width: 227px;
}
.footer__other-info .detail-info__adv {
  height: 118px;
  color: #091e42;
}
@media (max-width: 640px) {
  .footer__other-info .detail-info__adv {
    height: unset;
  }
}
.footer__other-info .detail-info__social-networks {
  display: flex;
  gap: 16px;
  list-style: none;
  padding-left: 0;
}
.footer__other-info .detail-info__social-networks li,
.footer__other-info .detail-info__social-networks a {
  height: 44px;
  display: block;
}
.footer__other-info .detail-info__social-networks .facebook-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/facebook_icon.svg") 0 0;
}
.footer__other-info .detail-info__social-networks .linkin-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/linkedin_icon.svg") 0 0;
}
.footer__other-info .detail-info__social-networks .instagram-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/instagram_icon.svg") 0 0;
}
.footer__other-info .detail-info__social-networks .twitter-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/twitter_icon.svg") 0 0;
}
.footer__other-info .detail-info__social-networks .yotube-network {
  max-width: 44px;
  width: 100%;
  height: auto;
  background: url("../assets/icon/yotube_icon.svg") 0 0;
}
.footer__other-info .contact-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 88px;
}
@media (max-width: 768px) {
  .footer__other-info .contact-info {
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
}
.footer__other-info .contact-info__quick-links-wrapper .headline, .footer__other-info .contact-info__interact-email .headline {
  font-weight: 600;
  line-height: 1.69rem;
  font-size: 1.13rem;
  color: #091e42;
}
.footer__other-info .contact-info__quick-links-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .footer__other-info .contact-info__quick-links-wrapper {
    text-align: center;
  }
}
.footer__other-info .contact-info__quick-links-wrapper .headline {
  white-space: nowrap;
}
.footer__other-info .contact-info__quick-links-wrapper .quick-links {
  gap: 8px;
  list-style: none;
  padding-left: 0;
}
.footer__other-info .contact-info__quick-links-wrapper .quick-link {
  padding: 8px 0;
}
.footer__other-info .contact-info__quick-links-wrapper .quick-link a {
  color: #091e42;
  text-decoration: none;
  white-space: nowrap;
}
.footer__other-info .contact-info__interact-email {
  flex: 2;
}
@media (max-width: 768px) {
  .footer__other-info .contact-info__interact-email {
    text-align: center;
  }
}
.footer__other-info .contact-info__interact-email .subscribe {
  display: flex;
  margin-top: 20px;
}
@media (max-width: 640px) {
  .footer__other-info .contact-info__interact-email .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}
.footer__other-info .contact-info__interact-email .subscribe__input {
  display: flex;
  border: 1px solid;
  border-radius: 8px 0px 0px 8px;
  padding: 0px 16px;
  gap: 8px;
}
@media (max-width: 640px) {
  .footer__other-info .contact-info__interact-email .subscribe__input {
    border-radius: 8px;
    padding: 10px 16px;
  }
}
.footer__other-info .contact-info__interact-email .subscribe__input .email {
  outline: 0;
  border: 0;
}
.footer__other-info .contact-info__interact-email .subscribe__btn {
  border-radius: 0 8px 8px 0;
  width: 101px;
}
@media (max-width: 768px) {
  .footer__other-info .contact-info__interact-email .subscribe__btn {
    width: 120px;
  }
}
@media (max-width: 640px) {
  .footer__other-info .contact-info__interact-email .subscribe__btn {
    border-radius: 8px;
  }
}
.footer__supper-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dcdfe4;
  padding: 20px 150px;
  opacity: 0.7;
}
@media (max-width: 1400px) {
  .footer__supper-footer {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .footer__supper-footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .footer__supper-footer {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
.footer__supper-footer .left-text, .footer__supper-footer .right-text .policy .content-text {
  color: #091e42;
  white-space: nowrap;
}
.footer__supper-footer .right-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
  gap: 24px;
  list-style: none;
}
@media (max-width: 640px) {
  .footer__supper-footer .right-text {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.footer__supper-footer .right-text .policy .content-text {
  text-decoration: none;
}

/* body */
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

/* section 1 - hero-banner*/
.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
  min-height: 560px;
  background-image: url(../assets/img/background_image_hero_banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-banner__content {
  margin-left: 150px;
  gap: 56px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 992px) {
  .hero-banner__content {
    margin-left: 20px;
  }
}
.hero-banner__content .content-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hero-banner__content .content-text__heading {
  color: #121216;
}
.hero-banner__content .content-text__adv {
  font-size: 1.25rem;
  font-weight: 400;
  color: #494961;
}
.hero-banner__content .show-now-btn {
  width: 220px;
}
.hero-banner__content .show-now-btn img {
  margin-left: 12px;
}

/* section 2 - strength-points */
.strength-points {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}
.strength-points__top-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1400px) {
  .strength-points__top-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.strength-points__top-items .strength-point-img {
  width: 100%;
  max-height: 160px;
  max-width: 278px;
}
.strength-points__bottom-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 1400px) {
  .strength-points__bottom-items {
    flex-direction: column;
  }
}
.strength-points__bottom-items .content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 584.5px;
  height: 273px;
  border-radius: 16px;
  padding: 18px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.strength-points__bottom-items .content .content-text {
  width: 55%;
  margin-left: 16px;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .strength-points__bottom-items .content .content-text {
    width: 100%;
  }
}
.strength-points__bottom-items .content .content-text__adv {
  font-weight: 500;
  line-height: 1.69rem;
  font-size: 1rem;
}
.strength-points__bottom-items .content .content-text__btn {
  margin-top: 36px;
  width: 160px;
}
.strength-points__bottom-items .content .mouthwash-bottle-img {
  max-width: 277px;
  z-index: 1;
}
.strength-points__bottom-items .content .hightlight-img {
  max-width: 366px;
}
.strength-points__bottom-items .content .bundle-img {
  max-width: 548px;
}
.strength-points__bottom-items .content .mouthwash-bottle-img,
.strength-points__bottom-items .content .hightlight-img,
.strength-points__bottom-items .content .bundle-img {
  position: absolute;
  bottom: 0;
  right: 4%;
  width: 100%;
  height: auto;
}
.strength-points__bottom-items .content:nth-child(1) {
  background-image: url(../assets/img/background_mouthwash.svg);
  color: #fff;
}
.strength-points__bottom-items .content:nth-child(1) .content-text__title {
  color: #fff;
}
.strength-points__bottom-items .content:nth-child(1) .content-text__btn {
  background-color: #9acb6b;
}
.strength-points__bottom-items .content:nth-child(1) .content-text__btn:hover {
  background-color: #405741;
  color: #fff;
}
.strength-points__bottom-items .content:nth-child(2) {
  background-image: url(../assets/img/background_bundle.svg);
}

/* section 3 - trending product */
.trending-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0;
}
.trending-products .display-products {
  width: 100%;
  gap: 4px;
  margin: 60px 0;
  padding: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trending-products .display-products .arrow-back,
.trending-products .display-products .arrow-forward {
  padding: 8px 12px;
}
@media (max-width: 470px) {
  .trending-products .display-products .arrow-back,
  .trending-products .display-products .arrow-forward {
    padding: unset;
  }
}
.trending-products .display-products .list-products {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .trending-products .display-products .list-products {
    max-width: 700px;
  }
}
@media (max-width: 992px) {
  .trending-products .display-products .list-products {
    max-width: 340px;
  }
}

/* section 4 - promotional-banner */
.promotional-banner {
  background-image: url(../assets/img/background_promotional_banner.svg);
  background-size: cover;
  min-height: 444.38px;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 24px;
  justify-content: flex-end;
  padding: 0;
  margin-bottom: 100px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .promotional-banner {
    background-position: 20% 0;
  }
}
@media (max-width: 768px) {
  .promotional-banner {
    border-radius: unset;
    flex-direction: column;
    position: relative;
  }
}
.promotional-banner__product {
  display: none;
}
@media (max-width: 768px) {
  .promotional-banner__product {
    display: block;
  }
}
.promotional-banner__product .product-img {
  width: 160%;
  transform: scale(1.4);
  transform-origin: left top;
}
.promotional-banner__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 32.92px;
  max-width: 52%;
  background-color: #e9f8ef;
  padding: 20px 20px 40px;
  border-radius: 0 24px 24px 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .promotional-banner__content {
    margin-top: 50px;
    max-width: 100%;
    border-radius: unset;
    text-align: center;
    align-items: center;
  }
}
.promotional-banner__content .content-text {
  display: flex;
  flex-direction: column;
  gap: 13.17px;
  margin-top: 53px;
}
@media (max-width: 1400px) {
  .promotional-banner__content .content-text {
    margin-top: 0;
  }
}
.promotional-banner__content .content-text__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.38rem;
  color: #000;
}
.promotional-banner__content .content-text__description {
  color: #000;
  font-weight: 400;
  font-size: 1.18rem;
  line-height: 1.69rem;
}
.promotional-banner__content .shop-now-btn {
  width: 180px;
}

/* section 5 - testimonials */
.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e9f8ef;
  gap: 80px;
  padding: 80px 0;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .testimonials {
    align-items: unset;
  }
}
.testimonials .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.testimonials .slider__content {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  padding: 20px 0;
  overflow: hidden;
}
@media (min-width: 1200) {
  .testimonials .slider__content {
    max-width: 1185px;
  }
}
@media (max-width: 1200px) {
  .testimonials .slider__content {
    width: 816px;
  }
}
@media (max-width: 992px) {
  .testimonials .slider__content {
    width: 363px;
  }
}

/*# sourceMappingURL=mainStyles.css.map */
