.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 180px;
  padding: 14px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn {
    padding: 8px;
  }
}

.btn--primary {
  border: 1px solid var(--orange-color-1);
  color: var(--orange-color-1);
}

.btn--primary:hover {
  background-color: var(--orange-color-1);
  color: var(--white-text-1);
  box-shadow: var(--shadow-hover-btn);
}
