/* footer */

.main-footer {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    gap: 80px;
    max-height: 448.66px;

    @include respond-to("medium") {
        gap: 40px;
    }

    &__other-informations {
        justify-content: space-between;
        display: flex;
        gap: 88px;

        @include respond-to("huge") {
            flex-direction: column-reverse;
        }

        @include respond-to("medium") {
            gap: 44px;
            padding-right: 20px;
            padding-left: 20px;
        }


        &__detail {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 16px;

            @include respond-to("medium") {
                align-items: center;
                text-align: center;
            }

            &__logo {
                max-height: 74px;
                max-width: 227px;
            }

            &__adv {
                line-height: 1.5rem;
                font-size: $normalSize;
                font-weight: 400;
                height: 118px;

                @include respond-to("small") {
                    height: unset;
                }
            }

            &__social-network-lists {
                display: flex;
                gap: 16px;
                list-style: none;
                padding-left: 0;

                li,
                a {
                    height: 44px;
                    display: block;
                }

                .facebook-network {
                    width: 44px;
                    background: url("../assets/icon/facebook_icon.svg") 0 0;
                }

                .linkin-network {
                    width: 44px;
                    background: url("../assets/icon/linkedin_icon.svg") 0 0;
                }

                .instagram-network {
                    width: 44px;
                    background: url("../assets/icon/instagram_icon.svg") 0 0;
                }

                .twitter-network {
                    width: 44px;
                    background: url("../assets/icon/twitter_icon.svg") 0 0;
                }

                .yotube-network {
                    width: 44px;
                    background: url("../assets/icon/yotube_icon.svg") 0 0;
                }
            }
        }

        &__contact {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 88px;

            @include respond-to("medium") {
                gap: 40px;
                flex-direction: column;
                align-items: center;
            }

            &__quick-link-lists-wrapper .headline,
            &__subscribe .headline {
                font-weight: 600;
                line-height: 1.6875rem;
                color: $blue-content-1;
                white-space: nowrap;
            }

            &__quick-link-lists-wrapper {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 24px;

                @include respond-to("medium") {

                    text-align: center;
                }

                .quick-link-lists {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    list-style: none;
                    padding-left: 0;
                }

                .quick-link {
                    padding: 8px 0;
                }

                .quick-link a {
                    color: $blue-content-1;
                    text-decoration: none;
                    white-space: nowrap;
                }
            }

            &__subscribe {
                flex: 2;

                @include respond-to("medium") {

                    text-align: center;
                }

                .wrapper-sub {
                    display: flex;
                    margin-top: 20px;

                    @include respond-to("small") {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
                    }
                }

                .wrapper-input-sub {
                    display: flex;
                    border: 1px solid;
                    border-radius: 8px 0px 0px 8px;
                    padding: 0px 16px;
                    gap: 8px;

                    @include respond-to("small") {
                        border-radius: 8px;
                        padding: 10px 16px;
                    }
                }

                .wrapper-input-sub .email {
                    outline: 0;
                    border: 0;
                }

                .subsribe_btn {
                    border-radius: 0 8px 8px 0;
                    width: 101px;

                    @include respond-to("medium") {
                        width: 120px;
                    }

                    @include respond-to("small") {
                        border-radius: 8px;
                    }
                }
            }
        }
    }

    &__supper-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $grey-border;
        padding: 20px 150px;

        @include respond-to("huge") {
            padding: 20px;
        }

        @include respond-to("medium") {
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        @include respond-to("small") {
            flex-direction: column-reverse;
            gap: 24px;
        }

        &__left-text,
        &__right-text__policy {
            color: $blue-content-1;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.3125rem;
            opacity: 0.7;
            white-space: nowrap;
        }

        &__right-text {
            display: flex;
            gap: 24px;

            @include respond-to("small") {
                flex-direction: column-reverse;
                align-items: center;
            }

            &__policy {
                text-decoration: none;
            }
        }
    }
}