.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 16px 150px;
    box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
    background-color: #fff;
    z-index: 99;

    @include respond-to('huge') {
        padding: 12px 20px;

        .user-icon-lists {
            display: none;
        }
    }

    &__nav-bar {
        @include flex-center();

        &__tabs {
            display: flex;
            color: #000;
            opacity: 0.72;
            gap: 16px;

            .home-link {
                text-decoration: none;
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: $normalSize;
                line-height: 1.5rem;
            }

            .tab__item {
                opacity: 0.72;
                font-weight: 500;
                color: $grey-content-1;
                font-size: $normalSize;
                line-height: 1.5rem;

                @include respond-to('huge') {
                    display: none;
                }


                &__tab-icon {
                    margin-left: 8px;
                }
            }

            .tab__item--active {
                opacity: 1;
                color: #000;
            }

            .tab__show-navigation {
                display: none;

                @include respond-to('huge') {
                    display: flex;
                }
            }
        }

        &__user-icon-lists {
            @include respond-to('huge') {
                display: none;
            }

            .user-icon {
                margin-left: 20px;
            }
        }
    }
}