.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 16px 150px;
    box-shadow: 0px 3px 5px 0px rgba(9, 30, 66, 0.2);
    background-color: #fff;
    z-index: 99;

    @include respond-to('huge') {
        padding: 12px 20px;

        .user-icon-lists {
            display: none;
        }
    }
}

.show-navigation {
    display: none;

    @include respond-to('huge') {
        display: flex;
    }
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    display: flex;
    color: #000;
    opacity: 0.72;
    gap: 16px;
}

.tabs .home-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: $normalSize;
    line-height: 1.5rem;
}

.tab {
    opacity: 0.72;
    font-weight: 500;
    color: $grey-content-1;
    font-size: $normalSize;
    line-height: 1.5rem;

    @include respond-to('huge') {
        display: none;
    }
}

.tab-icon {
    margin-left: 8px;
}

.active {
    opacity: 1;
    color: #000;
}

.nav-bar>*+* {
    margin-left: 20px;
}

.user-icon {
    margin-left: 20px;
}