@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  -webkit-animation: slideDown .5s ease-in-out;
  animation: slideDown .5s ease-in-out;
}